<div>
<h2>File Upload Using Multer</h2>

<form action='/uploads' method='POST' enctype='multipart/form-data'>
<div class="mb-3">
  <label for="formFile" class="form-label">Default file input example</label>
  <input name="myImage" class="form-control" type="file">
</div>
<button type="submit" class="btn btn-dark">Submit</button>
</form>



</div>
